.v {
    border: 1px solid red;
}

#lua img {
    width: 150px;
    height: 150px;
    image-rendering: pixelated;
}

#lua img[alt='fake'] {
    filter: blur(90px);
    z-index: -1;
}

#cross {
    position: absolute;

    image-rendering: pixelated;
    background-image: url('../img/cross.png');
    background-size: cover;

    cursor: pointer;
    transition: all .5s ease-in-out;
}

#mapa {
    /* display: none; */

    image-rendering: pixelated;
    width: 400px;
    height: 400px;
    background-image: url('../img/mapa.png');
    background-size: cover;
}

#bau {
    display: none;

    width: 300px;
    height: 300px;
    transition: all .5 ease-in-out;
    background-image: url('../img/c-closed.png');
    background-size: cover;

}

#book {

    transition: all .5 ease-in-out;
    position: absolute;
    image-rendering: pixelated;
    width: 400px;
    height: 250px;
    background-image: url('../img/book-open.png');
    background-size: cover;

    transform: scale(0);
}

#book>section {
    height: 200px;

}

#noses {
    width: 200px;
    height: 180px;
    /* filter: sepia(100%) hue-rotate(-10deg) brightness(90%) contrast(110%); */
}

.chuva-element {
    width: 100px;
    height: 100px;

    position: absolute;
    pointer-events: none;
    animation: cair 5s linear infinite
}