body {
    height: 100vh;
    margin: 0;
    background: #19192e;
    background: radial-gradient(circle, rgba(25, 25, 46, 1) 0%, rgba(17, 17, 48, 1) 38%, rgba(10, 10, 35, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    z-index: inherit;
}

header{
    z-index: -1 !important;
}